
@{
    ViewBag.Title = "CriarEncaminhamentoView";
}

<h2>Criar Encaminhamento</h2>

<hr />


<form action="/Encaminhamento/CadastrarEnc" method="post">
    <table align="center" style="background-color:#eeeeee" >
        <tr>
            <td>
                <div>
                    Data em que o Evento ocorreu:
                    <input type="date" name="dataEnc" required />
                </div>

                <div>
                    Anexo:
                    <input type="file" name="anexo" accept="image/*|doc" />
                </div>

                <div>
                    Descrição:
                    <br />
                    <textarea name="descricao" style="width:600px; height:200px;" wrap="soft" maxlength="499" class="form-control" required></textarea>
                </div>

                <div>
                    Tipo de Encaminhamento:
                    <select name="idTipoEnc" required>
                        <option selected disabled>Escolher</option>
                        <option value="1">Projeto de Lei</option>
                        <option value="2">Crítica</option>
                        <option value="3">Sugestão</option>
                        <option value="4">Denûncia</option>
                        <option value="5">Agradecimento</option>
                    </select>
                </div>

                <div>
                    Ao Vereador:
                    <input type="text" name="vereador" disabled value="@ViewBag.UsuarioSessao.municipio" />
                </div>

                <br />

                <div>
                    <input type="submit" value="Salvar Encaminhamento" class="btn btn-primary btn-lg" />
                </div>
            </td>
        </tr>

    </table>
</form>



<br>

<div>
    <form action="/Usuario/Login" method="post">
        <button type="submit" class="btn btn-danger" name="btAlterarPerfil">Voltar</button>
    </form>
</div>


