
@{
    ViewBag.Title = "RelatorioEncModerador";
}

<h2>RelatorioEncModerador</h2>

Falta fazer.








<br>
<hr />
<div>
    @Html.ActionLink("Cancelar - Voltar", null, null, null, new { href = Request.UrlReferrer })
</div>
