
@{
    ViewBag.Title = "RelatorioEncVereador";
}

<h2>RelatorioEncVereador</h2>

falta fazer.


<br>
<hr />
<div>
    <form action="/Usuario/Login" method="post">
        <button type="submit" class="btn btn-danger" name="btAlterarPerfil">Voltar</button>
    </form>
</div>
