
@{
    ViewBag.Title = "CadastroSucesso";
}


<h2> Seu pedido de cadastro foi efetuado com sucesso! </h2>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Alertaaaaaaa.
</div>