
@{
    ViewBag.Title = "Logado";
}


<div>
    @using (Html.BeginForm("Create", "AssignRole"))
    {
        if (Session["alertaEnc"] != null)
        {
            <script language="javascript">
                alert("Encaminhamento registrado com sucesso.");
            </script>
            Session["alertaEnc"] = null;        // desativa alerta.
        }

        if (Session["alertacaoUsuarioSucesso"] != null)
        {
            <script language="javascript">
            alert("Alteracao do Perfil efetuada com sucesso.");
            </script>
            Session["alertacaoUsuarioSucesso"] = null;        
        }
    }
</div>




<div>
    Seja bem-vindo Cidadão, @ViewBag.UsuarioSessao.nome  <br />
</div>


<div>

    <table cellpadding="30" cellspacing="30" class="jumbotron" border="1" style="border-color:white" align="center">
        <tr>
            <td  >
                <form action="/Encaminhamento/CriarEncaminhamentoView" method="post">
                       <h3>Criar um novo encaminhamento.</h3>
                       <button type="submit" class="btn btn-primary btn-lg" name="btCriarEnc">Criar</button>
                 </form>
            </td>
            <td >
                <form action="/Encaminhamento/ConsultarEncaminhamento" method="post">
                    <h3>Consultar, alterar, excluir encaminhamentos. </h3>
                    <button type="submit" class="btn btn-success" name="btConsultarEnc">Encaminhamentos</button>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form action="/Usuario/AlterarPerfilController" method="post">
                    <h3>Visualizar e alterar dados do perfil. </h3>
                    <button type="submit" class="btn btn-danger" name="btAlterarPerfil">Perfil</button>
                </form>
            </td>
        </tr>
        

    </table>
    

    

    

</div>
